---
layout: default
---




<section id="top">
  <header id="home-top" class="nav-top nav-fixed nav-root headroom headroom--top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-4">
          <h1 id="header-logo" class="image-text">
            <a href="/">
              <span class="mask"></span>
              <span class="behind"></span>
              Venkat Raman
              <i class=""></i>
            </a>
          </h1>
        </div>
        <div class="col-md-8 col-xs-8">
          <nav id="top-nav">
            <ul class="nav-list transistion">
              <li><a class="active" href="#skills">About</a></li>
              <li><a href="#portfolio">Projects</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>
        </div> <!-- 12 -->
      </div> <!-- / row -->
    </div> <!--/ container -->
  </header><div class="masthead-wrap">
  <div id="title">
    <div class="container">
      <div class="transistion cloud left-cloud"></div>
      <div class="transistion cloud right-cloud"></div>
      <div class="row">
        <div class="col-md-12">
          <div id="head-slider" class="transistion">
            <div class="slide-contents">
              <div class="slide">
                <div class="row first">
                  <div class="col-md-8 col-md-offset-4">    
                    <h1 class="head">Venkatraman C</h1>
                    <p><em>Full Stack Developer</em></p>
                    <p class="main">"I Am an Electrical graduate who is seeking for an opportunity and career in  Development"</p> 
                    <p class="main">"I worked as a lancer in Sap Security and have an Exp in Search Engine Optimisation"</p> 
                  </div>
                </div>
              </div>  
            </div>
          </div>  
        </div> 
      </div>
    </div>
  </div> 
</div>
<div class="masthead-wrap">
  <div id="masthead">
    <div id="earth-holder">
      <img src="">
    </div>
  </div>
</div>
</section>

<div class="breaker">
  <div class="line"></div>
</div>
{% include skills.html %}
<div class="breaker">
  <div class="line"></div>
</div>

{% include portfolio.html %}
<div class="breaker">
  <div class="line"></div>
</div>

{% include contact.html %}
<div class="breaker">
  <div class="line"></div>
</div>


