---
layout: default
---

<section id="home">
  <div class="container">
    <div class="row first">
      <h1 class="head">Venkatraman C</h1>
      <p><em>Full Stack Developer</em></p>
      <div class="col-xs-4 col-xs-offset-4">
       <p class="main">"I Am an Electrical graduate who is seeking for an opportunity and career in  Development"</p> 
       <p class="main">"I worked as a lancer in Sap Security and have an Exp in Search Engine Optimisation"</p> 
        <img src="images/ram.jpg" alt="#" class="img-circle"> 
      </div>
    </div>
  </div>

</section>

{% include skills.html %}

{% include portfolio.html %}

{% include contact.html %}

