<section id="contact">
  <div class="container">   
    <div class="row cont">
      <h2>Contact</h2>
        <div class="col-xs-4">
          <p>I Am Available for all kinds of Developer Jobs If You Want to Contact me ????</p>
        </div>
        <div class="col-xs-4">
          <p>Name : C Venkatraman</p>
          <p>Mobile No : 9989269416</p>
          <p>E-Mail : Venkatraman.c9@gmail.com</p>
          <a href="">Github.com</a>
        </div>
        <div class="col-xs-4"></div>       
    </div> 
  </div>
</section>