<header>
  <nav class="navbar-fixed-top" id="navig">
    <div class="container-fluid"> 
      <div class="navbar-header">
       <a href="#" class="btn btn-info">HOME</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <a href="#index" class="btn btn-primary fa-spin">About</a>
        <a href="#skills" class="btn btn-info">Skills</a>
        <a href="#portfolio" class="btn btn-success">Portfolio</a>
        <a href="#blog" class="btn btn-info">Blog</a>
        <a href="#contact" class="btn btn-warning">Contact</a>
    </ul>
    </div>
  </nav>
</header>