<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="app.min.js"></script>
  <link rel="stylesheet" href="https://fortawesome.github.io/Font-Awesome/icons/">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,300italic,600italic,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="http://seanhalpin.io/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://seanhalpin.io/assets/img/ui/app/144.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://seanhalpin.io/assets/img/ui/app/120.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://seanhalpin.io/assets/img/ui/app/72.png">
<link rel="apple-touch-icon-precomposed" href="http://seanhalpin.io/assets/img/ui/app/57.png">
<link rel="icon" type="image/png" href="http://seanhalpin.io/favicon.png">

<link rel="stylesheet" href="http://seanhalpin.io/assets/css/bootstrap.css">

<script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="//use.typekit.net/wdj6cpr.js"></script>
<style type="text/css">.tk-brandon-grotesque{font-family:"brandon-grotesque",sans-serif;}.tk-adobe-garamond-pro{font-family:"adobe-garamond-pro",sans-serif;}</style><link rel="stylesheet" href="http://use.typekit.net/c/c5c857/1w;adobe-garamond-pro,2,Xs1:N:i4,Xs0:N:i7,Xs2:N:n4,Xrz:N:n7;brandon-grotesque,2,Y2p:N:i5,Y2j:N:n3,Y2l:N:n4,Y2n:N:n5,Y2q:N:n7/d?3bb2a6e53c9684ffdc9a9aff1b5b2a6276adde0ff798449a3bfbdbf8b8f56d4226595a0d2bb6ad9102fa03d20b330fd8deedbb82c099e5f85b8a16b7e0cbe5db66132004fb77917213a9df89796448c617b2698ad1ed56f0472ba2"><script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<script src="http://seanhalpin.io/assets/js/respond.min.js"></script>
<script src="http://seanhalpin.io/assets/js/modernizr.js"></script>

</head>
