<section id="skills">
  <div class="container">
    <div class="row first">
      <div class="col-md-2">
        <h2>My Skills</h2>
      </div>
      <div class="col-md-4">
        <a href="#" class="text">
          <h3>Front End </h3>
        </a>
        <div class="list-group">
          <a href="#" class="list-group-item">HTML5</a>
          <a href="#" class="list-group-item">CSS<a>
            <a href="#" class="list-group-item">Java Script</a>
            <a href="#" class="list-group-item">JQuery</a>
            <a href="#" class="list-group-item">Angular Js</a>
          </div>  
        </div>
        <div class="col-md-3">
         <a href="#" class="text">
          <h3>Back End</h3>
        </a>
        <div class="list-group">
          <a href="#" class="list-group-item">Ruby</a>
          <a href="#" class="list-group-item">Rails</a>
        </div>
      </div>
    </div>
  </section>
