#home{ 
     background-image: url("../images/sky.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 100vh;

    .home{
      position: relative;
      padding-top: 200px;
      text-transform: translateY(-50%);
      text-align: center;
      color: #FFF;
    }
}