#skills {
  background-color: #FFF;
 // background-image: url("../images/book.jpg");
 // background-size: cover;
 // background-repeat: no-repeat;
 min-height: 70vh;
 font-family: robo;
 //opacity: 0.3; 
}